@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-button, .product-details__btn {
    background: $color-primary;
    font-family: $font-primary;
    font-weight: $font-weight-bold;
    color: $color-white;
    cursor: pointer;

    &:hover {
        background-color: darken($color-primary, 10%);
    }
}

.product-details {
    display: flex;
    gap: rem(40);
    margin-bottom: rem(80);

    &__gallery {
        display: flex;
        flex: 1 1 45%;
        flex-direction: column;
        gap: rem(10);

        .product-details__image {
            width: 100%;
            object-fit: contain;
        }

        .product-details__thumbnails {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(15);

            .product-details__thumbnail {
                 object-fit: cover;
            }
        } 
    }
}

.product-details__info {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    justify-content: space-between;
    
    .product-details__title {
        margin-bottom: rem(16);
        font-family: $font-primary;
        font-size: rem(30);
        font-weight: $font-weight-bold;
        line-height: 1.5;
        color: $color-black;
    }

    .product-details__rating {
        margin-bottom: rem(15);
    }

    .product-details__review-count {
        font-family: $font-primary;
        font-size: rem(13);
        font-weight: $font-weight-regular;
        line-height: 1.5;
        color: $color-gray;
    }

    .product-details__price {
        margin-bottom: rem(40);
        font-family: $font-primary;
        font-size: rem(20);
        font-weight: $font-weight-bold;
        line-height: 1.5;
        color: $color-black;
    }

    .product-details__description {
        font-family: $font-primary;
        font-size: rem(17);
        font-weight: $font-weight-regular;
        line-height: 1.5;
        color: $color-gray;
    }

    .product-details__description + .product-details__description {
        margin-top: rem(40);
        margin-bottom: rem(70);
    }

    .product-details__filter {
                  display: flex;
                  flex-direction: column;
                  gap: rem(13);
                  margin-bottom: rem(30);
          
                  label {
                    font-family: $font-primary;
                    font-size: rem(17);
                    font-weight: $font-weight-bold;
                    line-height: 1.5;
                    color: $color-gray;
                  }
          
                  select {
                    padding: rem(10) rem(15);
                    border: 2px solid $color-gray-light;
                    font-family: $font-primary;
                    font-size: rem(16);
                    font-weight: $font-weight-regular;
                    line-height: 1.5;
                    color: $color-gray;
          
                    &:focus {
                      border-color: $color-primary;
                      outline: none;
                    }
                  } 
                 }

    .product-details__quantity {
        display: flex;
        gap: rem(13);
        margin-top: rem(50);    
        margin-bottom: rem(60);
    

        .product-details__quantity-controls {
            display: flex;
            align-items: center;
            border: 2px solid $color-primary;
            
            .product-details__qty-btn {
                padding: rem(12) rem(20);
                border: none;
                font-family: $font-primary;
                font-size: rem(25);
                font-weight: $font-weight-bold;
                line-height: 1.5;
                color: $color-gray;
                cursor: pointer;

                &:hover {
                    background-color: darken($color-gray-light, 10%);
                }
            }

            input[type="number"] {
                width: rem(50);
                border: none;
                font-family: $font-primary;
                font-size: rem(25);
                font-weight: 700;
                line-height: 1.5;
                text-align: center;
                color: $color-gray;

            

               &::-webkit-outer-spin-button,
               &::-webkit-inner-spin-button {
                margin: 0;
               appearance: none;
               }
            }
        }

        .product-details__add-to-cart {
            flex: 1; 
        }
    }

    .product-details__payments {
        display: flex;
        align-items: center;
        gap: rem(20);

        .product-details__payment-label {
            font-size: rem(23);
            font-weight: $font-weight-bold;
            line-height: 1.5;
            color: $color-gray;
            
        }
    }
}

.product-tabs {
    margin-bottom: rem(100);

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(120);
        margin-bottom: rem(30);
    }

    &__tab {
        font-family: $font-primary;
        font-size: rem(17);
        font-weight: $font-weight-bold;
        line-height: 1.5;
        color: $color-black;
        cursor: pointer;

        &--active {
            border-bottom: 2px solid $color-primary;
        }
    }

    &__content {
        .product-tabs__panel {
            display:none;

            .product-tabs__text {
                font-family: $font-primary;
                font-size: rem(17);
                font-weight: $font-weight-regular;
                line-height: 1.5;
                color: $color-gray;

                & + .product-tabs__text {
                    margin-top: rem(30);
                }
            }

            &--active {
                display: block;
            }
        }
    }


.related-products {
    margin-bottom: rem(100);

    &__title {
        margin-bottom: rem(60);
        font-family: $font-primary;
        font-size: rem(30);
        font-weight: 700;
        line-height: 1.5;
        color: $color-black;
        border-bottom: 2px solid $color-primary;
    }
}
}

.related-products {
    margin-bottom: 100px;
    text-align: center;

    &__title {
        display: inline-block;
        margin-bottom: rem(60);
        font-family: $font-primary;
        font-size: rem(30);
        font-weight: 700;
        line-height: 1.5;
        color: $color-black;
        border-bottom: 2px solid $color-primary;
    }

    &__grid {
      display: grid;
      gap: rem(30);
      grid-template-columns: repeat(4, 1fr);
    }
}


  
  .reviews__container {
    display: grid;
    gap: rem(145);
    grid-template-columns: 1fr 1fr;
  }

  .reviews__title {
    margin-bottom: rem(90);
    font-family: $font-primary;
    font-size: rem(18);
    font-weight: $font-weight-bold;
    line-height: 1.5;
    color: $color-black;
  }
  
  .review {
    display: flex;
    gap: rem(25); 
    
    &__author-photo {
        align-self: flex-start;
        object-fit: contain;
    }
    
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(29);

      .review__author-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(18);

        .review__author {
          font-family: $font-primary;
          font-size: rem(17);
          font-weight: $font-weight-bold;
          line-height: 1.5;
          color: $color-gray;
        }
    
        time {
          font-family: $font-primary;
          font-size: rem(13);
          font-weight: $font-weight-regular;
          line-height: 1.5;
          color: $color-gray;
        }
      }
  
      .review__stars {
        display: flex;
        gap: rem(4);
  
        svg {
          width: 16px;
          height: 15px;
        }
      }
    }
  
    &__text {
      font-family: $font-primary;
      font-size: rem(17);
      font-weight: $font-weight-regular;
      line-height: 1.5;
      color: $color-black;
    }
  }
  


