@use 'sass:math';
/* fills viewport height safely */
@mixin fill-viewport($subtract: 0px) {
    min-block-size: calc(100vh - #{$subtract});   // fallback
    @supports (height: 100svh) {
      min-block-size: calc(100svh - #{$subtract});
    }
    @supports (height: 100dvh) {
      min-block-size: calc(100dvh - #{$subtract});
    }
  }

/* px → rem (за бази 16px) */
@function rem($px, $base: 16) {
  @return math.div($px, $base) * 1rem;
}

/* px → em відносно контекстного розміру */
@function em($px, $context: 16) {
  @return math.div($px, $context) * 1em;
}

  