<template>
    <article class="product-card" data-id="">
        <div class="image-wrapper">
            <img class="product-image" alt="product image" height="400" src="../assets/product-card-image1.png">
            <span class="badge main-button">SALE</span>
        </div>
        <div class="product-card-info">
            <p class="product-name">Vel vestibulum elit 
                tuvel euqen.</p>
            <p class="product-price">$250</p>
            <button class="main-button product-button">Add To Cart</button>
        </div>
    </article>
</template>