<template>
    <article class="product-card" data-id="">
        <div class="product-card__image-wrapper">
            <img class="product-card__image" alt="product" height="400" src="/assets/product-card-image1.png">
            <span class="product-card__badge">SALE</span>
        </div>
        <div class="product-card__info">
            <p class="product-card__name">Vel vestibulum elit tuvel euqen.</p>
            <p class="product-card__price">$250</p>
            <button class="main-button product-card__button" data-add-to-cart data-product-id="${product.id}" data-quantity="1">Add To Cart</button>
        </div>
    </article>
</template>